<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.me.outer.mapper.ApplicationStatusMapper">

    <insert id="saveApplicationStatus" parameterType="com.me.outer.entity.ApplicationStatusDTO">
        INSERT INTO loss_appl_status
        (
            status_ref,
            appl_id,
            belong_id,
            desc_x,
            status_x,
            process_by,
            process_dt,
            create_dt,
            create_by
        )
        VALUES
        (
            #{statusRef, jdbcType=VARCHAR},
            #{applicationId, jdbcType=INTEGER},
            #{belongId, jdbcType=INTEGER},
            #{description, jdbcType=VARCHAR},
            #{status, jdbcType=VARCHAR},
            #{processDate, jdbcType=TIMESTAMP},
            #{processBy, jdbcType=VARCHAR},
            #{createDate, jdbcType=TIMESTAMP},
            #{createBy, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteApplicationStatusById" parameterType="java.lang.Integer">
        DELETE FROM loss_appl_status WHERE appl_id = #{applicationId, jdbcType=INTEGER}
    </delete>

    <delete id="deleteApplicationStatusByUserId" parameterType="java.lang.Integer">
        DELETE FROM loss_appl_status s
        LEFT JOIN loss_application a ON s.status_ref = a.status_ref
        WHERE a.user_id = #{userId, jdbcType=INTEGER}
    </delete>

    <update id="processApplication" parameterType="com.me.outer.entity.ApplicationStatusDTO">
        UPDATE loss_appl_status SET
            status_x = #{status, jdbcType=VARCHAR},
            process_by = #{processBy, jdbcType=VARCHAR},
            process_dt = #{processDate, jdbcType=TIMESTAMP}
        WHERE status_ref = #{statusRef, jdbcType=VARCHAR}
    </update>

    <update id="claimApplication" parameterType="com.me.outer.entity.ApplicationStatusDTO">
        UPDATE loss_appl_status SET
            status_x = #{status, jdbcType=VARCHAR},
            belong_id = #{belongId, jdbcType=VARCHAR},
            desc_x = #{description, jdbcType=VARCHAR}
        WHERE status_ref = #{statusRef, jdbcType=VARCHAR}
    </update>
    
</mapper>